body {
  font-family: sans-serif;
  margin: 20px;
}

#post-list div {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#post-detail {
  margin-top: 20px;
}

.hidden {
  display: none;
}
